<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Emergency</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <header>
        <div class="nav">
            <ul>
                <li class="Home"><a href="#">HOME</a>
                    <ul>
                        <li><a href="http://localhost:10000/login">LOG IN</a>
                        
           `         </ul>
                <li class="Menu"><a href="#">MENU</a>

                    <ul>
                        <li><a href="http://localhost:10000/Pegoin">ลงทะเบียนผู้ป่วยฉุกเฉิน</a>
                        <li><a href="http://localhost:10000/Diagnosis">วินิจฉัยและการรักษา</a>
                        <li><a href="http://localhost:10000/referral">ส่งต่อผู้ป่วย</a>
                    </ul>
            </ul>

        </div>
    </header>
    <body>
        <div class="box">
            <h1 class="title">Emergency Department</h1>
            <img class="imge" src="https://images.pexels.com/photos/668298/pexels-photo-668298.jpeg" width="50%">
        
        </div>
    </body>
</html>
